
  @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,600&display=swap');




  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: .5rem;
	font-weight: 800;
	line-height: 1.2;
	color: var(--bs-heading-color,inherit);
  font-family: 'Kanit', sans-serif;
}
.lead {
    font-size: 1.25rem;
    font-weight: 600;
}
 .nav-link {
    color: white;

}
.nav-link:hover {
    color: black;
    cursor: pointer;
}
/* .float-start {
    max-height: 60vh;} */
    .py-4 {
        padding-top: 4.5rem !important;
    }
    /* .float-end{ 
        height: 80vh;} */
        
        ul{list-style: none;}
        a {
            /* color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1)); */
            text-decoration: underline;
            text-decoration-color: red;
            font-size: 20px;
            color: red;
            font-weight: bolder;
        }
        
       .text-danger {padding-top: 55px;}

       .navbar-brand {
        text-decoration-color: azure;
        color: white;
    }

    .card{background-image:url('https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=pexels-pixabay-531880.jpg&fm=jpg');}
    .card1{background-image:url('https://images.pexels.com/photos/220118/pexels-photo-220118.jpeg?auto=compress&cs=tinysrgb&h=627&fit=crop&w=1200');}

    .text-white{text-decoration: none;}

    .map-container {
        height: 230px;
        position: relative;
      }

      .map-container iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
      }
      
      .mx-2{font-weight: bolder;}

      .btn-primary {
        height: min-content;
    }
    .results-list {
        width: 80%;
        background-color: white;
        display: flex;
        color: #dc3545;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        flex-direction: column;
        border-radius: 10px;
        margin-top: 1rem;
        max-height: 50px;
        overflow-y: scroll;
      }
      
      .search-result {
        padding: 10px 20px;
      }
      
      .search-result:hover {
        background-color: #efefef;
      }
      
      .input-wrapper {
        width: 95%;
        height: 2.5rem;
        border: none;
        border-radius: 10px;
        padding: 0 15px;
        background-color: white;
        display: flex;
        align-items: center;
      }
      
      input {
        background-color: transparent;
        border: none;
        height: 75%;
        font-size: 1.25rem;
        width: 100%;
        margin-left: 5px;
      }
      
      input:focus {
        outline: none;
      }
      
      #search-icon {
        color: red;
      }
      body {
        font-family: 'Kanit', sans-serif;
      }



